{{define "content"}}
<style>
    .bt{
    width: 900px;
    }
</style>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1></h1>
      <center>
            <p>Welcome to Tech-Ninja Dashboard.</p>
      </center>
      <br><br>
        <div class="container" >
          <div>
          <center>
              <button class="button btn-info btn-lg bt" onclick="location.href='create';" >Create Installation Environment</button>
          </center>
          </div>
          <div style="margin-top: 60px;">
          <center>
              <button class="button btn-success btn-lg bt" onclick="location.href='edit';" > Edit  Installation  Environment </button>
          </center>
          </div>
          </div>
    </div>

  </div>
</div>
{{end}}
